body {
  font-family: 'Krub', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Lora', serif;
}

h2, h3 {
  font-size: medium;
}

a {
  margin: auto;
  color: black;
  text-decoration: none;
  transition: color 200ms;
}

a:hover {
  color: green;
  transition: color 200ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 50%);
}

.quote-on {
  opacity: 1;
  transition: opacity 3s;
}

.quote-off {
  opacity: 0;
  transition: opacity 3s;
}

.main-display {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 75vh;
  display: flex;
}

.job-metrics {
  width: 33%;
  border-right: 1px solid gray;
}

.data-visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart {
  width: 100%;
  height: 250px;
}

.c3-chart-arc path {
  stroke: green;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.filter-off, .filter-on {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
}

.filter-off:hover, .filter-on:hover {
  background-color: rgb(178, 235, 178);
}

.filter-off {
  cursor: pointer;
  transition: background-color 200ms;
}

.filter-on {
  cursor: pointer;
  background-color: lightgreen;
  transition: background-color 200ms;
}

.job-listings {
  width: 66%;
  margin-left: 25px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.job-listings::-webkit-scrollbar {
  display: none;
}

.inactive {
  background-color: darkgray;
}

.offer {
  background-color: rgb(255, 235, 124);
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid gray;
  transition: background-color 200ms;
}

.job:last-child {
  border-bottom: 1px solid gray;
}

.job:hover {
  cursor: pointer;
  background-color: rgb(178, 235, 178);
  transition: background-color 200ms;
}

.job-link, .job-stage {
  width: 33%;
}

.job-stage {
  margin: auto;
}

.buttons {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}
